body{
    padding: 0;
    margin: 0;
}

h1, h2{
    color: #0284c3;
    text-align: center;
    text-shadow: 5px 5px 5px #bbcc;
}

.background{
    margin-left: 27%;
    margin-top: 20px;
    width: 600px;
    border: 1px solid lightGray;
    border-radius: 3px;
    box-shadow: 3px 3px 5px darkGray;
}

header{
    display: flex;
    justify-content: space-around;
    width: 600px;
    height: 60px;
    margin: -1px;
    background-color: #00a4f3;
    border-top: 1px solid #00a4f3;
    border-right: 1px solid #00a4f3;
    border-radius: 3px 3px 0 0;
    box-shadow: 1px 1px 5px SteelBlue;
}

header input{
    width: 380px;
    height: 30px;
    margin: 12px;
    border-radius: 3px;
    border: 1px solid #d3d0d3;
}

#add{
    float: right;
    font-family: Tahoma, san-serif;
    width: 80px;
    height: 25px;
    font-size:12px;
    font-weight: 600;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px 2px 0 2px;
    text-align: center;
    color: White;
    background-color: #00a4f3;
    border-radius: 3px;
    border: 1px solid #0284c3;
}

#add:hover{
    cursor: pointer;
    background-color: #0284c3;
}

#add:active{
    color: #fff;
    box-shadow: inset 3px 3px 3px #00a4f3;
}

#delete{
    float: left;
    font-family: Tahoma, san-serif;
    width: 100px;
    height: 30px;
    font-size:12px;
    font-weight: 600;
    margin-left: 30px;
    padding: 5px 2px 0 2px;
    text-align: center;
    color: White;
    background-color: #00a4f3;
    border-radius: 3px;
    border: 1px solid #0284c3;
}

#delete:hover{
    cursor: pointer;
    background-color: #0284c3;
}

#delete:active{
    color: #fff;
    box-shadow: inset 3px 3px 3px #00a4f3;
}

article{
    margin-left: -15px;
    font-family: Tahoma, san-serif;
    font-weight: 500;
    font-size: 12px;
}

li{
    list-style-type: none;
    font-style: italic;
    font-size: 16px;
    color: #0284c3;
}

li:hover{
    background-color: #eee;
}

#delete-ico{
    color:red;
    margin-left: 20px;
    cursor: pointer;
}

#checked{
    text-decoration: line-through;
    color: gray;
}

footer{
    height: 40px;
}